name: Build

on: 
  push:
    branches:
      - master

jobs:
  
  buildTestRelease:

    strategy:
      matrix:
        os: [ windows-latest ]
        node_version: [ 12.x ]
      fail-fast: false

    runs-on: ${{ matrix.os }}
    
    env:
      PROJECT_NAME: 'action-release-with-assets'

    steps:

    - uses: actions/checkout@v1
      name: Checkout

    - name: Setup Node.js (${{ matrix.node_version }})
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node_version }}

    - name: Version
      run: |
        echo "::set-env name=VERSION::$(npm run version --silent)"

    - name: Release
      uses: UVASOMIT/action-release-with-assets@master
      with:
        verbose: false
        token: ${{ secrets.GITHUB_TOKEN }}
        files: ./release/app.zip
        draft: false
        prerelease: false
        body: An updated zip file
        name: Release ${{ github.run_id }}-${{ github.run_number }}
        tag: ${{ github.run_id }}-${{ github.run_number }}
